:root{
    --white: #feefec;
    --pale: #ffd6d7;
    --pink: #f45286;
    --purple: #a14176;
    --black: #0d0908;
    --caps: 'Amatic SC', cursive;
    --head: 'Abel', sans-serif;
    --text: 'Open Sans', sans-serif;
}